<!DOCTYPE html>
<html lang="en">

<head>
  <meta charset="UTF-8">
  <meta name="viewport" content="width=device-width, initial-scale=1.0">
  <title>SignUp/Login</title>
  <script src="https://cdn.tailwindcss.com"></script>
</head>

<body class="h-screen flex items-center justify-center bg-gray-100">
  <div class="bg-white p-10 rounded-lg shadow-md w-3/4 max-w-4xl">
    <h1 class="text-blue-900 text-2xl font-semibold py-3 text-center">Welcome to BagHub</h1>
    <div class="flex justify-between gap-10 mt-8">
      <!-- Login Section -->
      <div class="flex flex-col w-1/2">
        <h3 class="font-medium text-lg mb-5">Login</h3>
        <div class="flex flex-col gap-4">
          <input class="bg-zinc-600 rounded-md text-white outline-none px-4 py-3 w-full" type="text" placeholder="Username" name="username">
          <input class="bg-zinc-600 rounded-md text-white outline-none px-4 py-3 w-full" type="password" placeholder="Password" name="password">
          <input type="submit" value="Login" class="bg-blue-600 text-white py-2 px-4 rounded-md cursor-pointer hover:bg-blue-700">
        </div>
      </div>

      <!-- SignUp Section -->
      <div class="flex flex-col w-1/2">
        <h3 class="font-medium text-lg mb-5">SignUp</h3>
        <div class="flex flex-col gap-4">
          <input class="bg-zinc-600 rounded-md text-white outline-none px-4 py-3 w-full" type="text" placeholder="Username" name="username">
          <input class="bg-zinc-600 rounded-md text-white outline-none px-4 py-3 w-full" type="email" placeholder="Email" name="email">
          <input class="bg-zinc-600 rounded-md text-white outline-none px-4 py-3 w-full" type="password" placeholder="Password" name="password">
          <input type="submit" value="SignUp" class="bg-green-600 text-white py-2 px-4 rounded-md cursor-pointer hover:bg-green-700">
        </div>
      </div>
    </div>
  </div>
</body>

</html>
